/* galleryBox.css */



@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /*? 기준 디바이스 크기 : 1024px */


  /*? galleryBox ----------------------- */
  #galleryBox {
    height: 46.875rem;
    padding-top: 5rem; padding-bottom: 8.125rem;
    width: 100%
  }

  #galleryBox li.imageArea { 
    background-image: url("../../../img/main_page_re/main_page_re/all_device/g_galleryBox/gallery_1.png");
  }


} /* @media screen and (min-width: 1024px) and (max-width: 1439px) */