/* f_04_transition.css */


.width_bar > li {
  width: 200px; height: 150px;
  background-color: #7a5;
  color: #fff;
}


  /* 
  transition-property > transition을 적용할 속성
  transition-duration > transition이 진행될 시간 
  transition-delay > transition이 진행되기 전까지 대기하는 시간
  */

.width_bar > li:nth-child(1):hover {
    width: 700px;
    transition-property: width;

    /* 1000ms = 1s */
    transition-duration: 1000ms;

    /* 
    transition-timing-function
    1. linear : 동일한 속도로 진행
    2. ease : 조금 빨라졌다가 다시 느려지게 처리
    3. ease-in : 점점 빠르게
    4. ease-out : 점점 느리게
    5. ease-in-out : 빨라졌다가 느려지게 (ease와는 다름) 
    */
    
    transition-timing-function: linear;
    transition-delay: 1000ms;
  }

.width_bar > li:nth-child(2):hover {
    width: 1000px; 
    background-color: #044;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: linear;
  }

  /* 
  transition 축약
  >> transition : 속성 진행시간 진행방법 (지연시간) 
  */
.width_bar > li:nth-child(3):hover {
    width: 500px; height: 200px; 
    transition: all 1000ms linear;
  }

.width_bar > li:nth-child(4):hover {
    border-radius: 50px;
    transition: all 1500ms ease-in;
  }


  /* hover 시 transition 적용하고,
  hover 종료시 원상복귀 하는 예시 */

.width_bar > li:nth-child(5) {
    transition: all 2000ms ease;
  }

.width_bar > li:nth-child(5):hover {
    width: 500px; height: 500px; 
    background-color: #fa0;
    border-radius: 100%;
  }



  /* --------------------------------------- */

  .card li { 
    float: left;
    width: 250px; height: 400px; 
    background-color: #0ac; border-radius: 5px;
    margin: 20px;
    padding: 20px; box-sizing: border-box;
    color: #fff; font-size: 1.5rem; 
  }
    .card a {
      position: relative;
      display: block; width: 100%; height: 100%;
      padding: 20px; box-sizing: border-box;
      color: inherit;
      background-image: url("../../img/background/matteo-catanese-4KrQq8Z6Y5c-unsplash.jpg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: auto 100%;
      overflow: hidden;
    }

      .card li:nth-child(1) a:hover {
        background-size: auto 200%;
        transition: all 500ms ease;
      }

      .card li:nth-child(2) a:hover {
        /* background-size: auto 200%; */
        transform: scale(1.2);
        transition: all 500ms ease;
      }

      .card li:nth-child(3) a:hover {
        /* background-size: auto 200%; */
        transform: scale(1.2) rotate(15deg);
        transition: all 500ms ease;
      }


      /* 액션(ex.hover) 이전에 transition을 주면 
      액션 이전과 이후를 모두 컨트롤할 수 있다. */

      .card li:nth-child(4) a::after {
        content: ""; display: block;
        width: 100%; height: 100%;
        background-color: rgba(30,30,30,0.5);
        position: absolute; top: 0; left: 0;
        transition: all 500ms ease;
      }

      .card li:nth-child(4) a:hover::after {
        background-color: rgba(30,30,30,0);
      }

      .card li:nth-child(4) a {
        transition: all 500ms ease;
      }

      .card li:nth-child(4) a:hover {
        transform: scale(1.2) rotate(5deg);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
      }

      

  