/* c_menubox.css */




/*? bannerBox ------------------------------------- */

#bannerBox {
  position: relative;
  padding-top: 7.25rem;
  width: 100%; height: 15.625rem; 
  background-image: url("../../img/gift/banner.png");
  background-image: url("../../img/gift/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

  #bannerBox > .text_box { width: 70%; margin: auto; }

    .text_box > h2 {
      position: relative;
      font-size: 2.5rem; color: #fff;
      margin-top: 5.75rem; margin-bottom: 1.0625rem;
      text-transform: capitalize;
    }

    .text_box > p {
      position: relative;
      width: 43.75rem; height: auto;
      font-size: 1.125rem; color: #fff;
    }



/*? contentBox ------------------------------------- */

#contentBox { width: 100%; height: 2100px; }


/** slideBar ------------------------------- */

.slideBar {
  width: 68.75rem; height: 40.625rem; margin: auto;
  border-bottom: 0.1875rem solid #aaa;
  position: relative;
} /* 슬라이드 전체 영역 */

.slide_wrapper {
  position: relative;
  height: 27.5rem; width: 80%;
  padding-top: 10.625rem; padding-bottom: 5.625rem;
  margin: auto;
  overflow: hidden;
} /* 슬라이드 : 보이는 영역 */

.slide_container {
  width: 93.75rem; height: 100%;
} /* 슬라이드 : 카드 전체가 담긴 영역 */

.slide_container > div { 
  position: relative;
  display: block; float: left;
  width: 15rem; height: 21.875rem; 
  background-color: #ccc; 
  margin-left: 1.875rem; margin-right: 1.875rem; 
  margin-top: 1.875rem;
} /* 슬라이드 카드 디자인 */

.img { 
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%; height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%
} /* 슬라이드 카드 백그라운드 이미지 디자인 */

.img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
} /* 슬라이드 카드 백그라운드 이미지 필터 */

  .slide_container h3 {
    position: relative;
    width: 90%; margin: auto; 
    margin-top: 13.75rem; 
    margin-bottom: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.375rem;
    text-align: right;
    text-transform: capitalize;
    border-bottom: 0.0625rem solid #fff;
    color: #fff;
  } /* 슬라이드 카드 제목 */
  .slide_container p {
    position: relative;
    width: 90%; margin: auto; margin-bottom: 0.625rem;
    font-size: 0.875rem;
    text-align: right;
    color: #fff;
  } /* 슬라이드 카드 내용 */
  .slide_container button {
    position: relative;
    display: block;
    width: 90%; height: 2.1875rem;
    margin: auto; margin-bottom: 0.3125rem;
    background-color: #fff;
  } /* 슬라이드 카드 버튼 */

.button {
  position: absolute;
  top: 55%; bottom: 0; left: 0; right: 0;
  width: 68.75rem; height: 0;
} /* 슬라이드 다음, 이전 버튼 담는 전체 영역 */
  .button > .prevbtn {
    float: left;
    width: 3.75rem; height: 3.75rem;
    background-image: url("../../img/gift/prevbtn.png");
    background-image: url("../../img/gift/prevbtn.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
  } /* 슬라이드 이전 버튼 디자인 */
  .button > .nextbtn {
    float: right;
    width: 3.75rem; height: 3.75rem;
    background-image: url("../../img/gift/nextbtn.png");
    background-image: url("../../img/gift/nextbtn.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
  } /* 슬라이드 다음 버튼 디자인 */

  

  /** cardBox ---------------------------- */

  .cardBox {
    height: auto; margin: auto; width: 67.0625rem; 
    margin-top: 6.25rem; box-sizing: border-box;
  }


  #contentBox .card_area > li {
    float: left;
    width: 15rem; 
    height: 22.6875rem;
    border: 0.0625rem solid #757575;
    border-radius: 0.3125rem;
    margin-left: 0.8125rem; margin-right: 0.8125rem;
    margin-bottom: 1.875rem;
  } /* 카드 전체 영역 디자인 */

  #contentBox .card_area .card_img {
      width: auto; height: 11.3125rem;
      margin: 0.625rem;
      background-repeat: no-repeat; background-size: cover;
      background-position: 50% 50%;
      border-radius: 0.3125rem;
    } /* 카드 이미지 디자인 */

    #contentBox .card_area h2 {
      width: 90%; height: auto;
      font-size: 1.375rem; font-weight: 700; color: #171717;
      text-transform: capitalize;
      margin: 0.625rem; margin-top: 0.9375rem; margin-bottom: 0.4375rem;
      padding-bottom: 0.3125rem;
      border-bottom: 0.0625rem solid #757575;
    } /* 카드 제목 디자인 */

    #contentBox .card_area p {
      width: auto; height: auto;
      margin-left: 0.9375rem; margin-right: 0.9375rem;
      margin-bottom: 0.625rem;
      font-size: 1rem; color: #777;
    } /* 카드 내용 디자인 */

    #contentBox .card_area .button_area {
      width: 13.5rem; height: auto;
      margin-left: 0.75rem; margin-right: 0.75rem;
      margin-bottom: 0.75rem;
    } /* 버튼 전체 영역 디자인 */

    .button_area .top a {
      position: relative;
      display: block; width: 13.5rem; height: 1.5625rem;
      background-color: #fff;
      border: 0.0625rem solid #757575;
      box-sizing: border-box;
      border-radius: 0.125rem;
      margin-bottom: 0.3125rem;
    } /* 위쪽 버튼(상세보기) 모양 디자인 */

    .button_area .top span {
      display: block; 
      position: absolute;
      top: 0; bottom: 0; left: 35%; right: 0;
    } /* 위쪽 버튼(상세보기) 글자 디자인 */

    .button_area .bottom li:nth-child(1) {
      position: relative;
      display: block; float: left;
      width: 5.0625rem; height: 1.875rem; 
      margin-right: 0.3125rem;
      border-radius: 0.125rem; 
      background-color: rgba(255, 189, 85, 1);
      background-color: var(--color-yellow_01);
      font-size: 0.875rem;
    } /* 아래쪽 좌측 버튼(장바구니) 모양 디자인 */

      .bottom li:nth-child(1) span {
        display: block; 
        position: absolute;
        top: 20%; bottom: 0; left: 20%; right: 0;
      } /* 아래쪽 좌측 버튼(장바구니) 글자 디자인 */

    .button_area .bottom li:nth-child(2) {
      position: relative;
      display: block; float: left;
      width: 8.125rem; height: 1.875rem; 
      border-radius: 0.125rem; 
      background-color: rgba(26, 93, 84, 1);
      background-color: var(--color-primary_01);
      font-size: 0.875rem;
    } /* 아래쪽 우측 버튼(구매하기) 모양 디자인 */

      .bottom li:nth-child(2) span {
        display: block; 
        position: absolute;
        top: 20%; bottom: 0; left: 30%; right: 0;
        color: #fff;
        color: var(--color-white);
      } /* 아래쪽 우측 버튼(구매하기) 모양 디자인 */



/*? modalWindow ------------------------------------- */
#modalWindow {
  display: none;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3000;
} /* 모달윈도우 - 필터 */

.modal_window {
  display: none;
  position: fixed; top: 30%; left: 50%;
  transform: translateX(-50%);
  width: 80%; max-width: 1440px;
  height: 50%; max-height: 800px;
  background-color: #fff;
  box-shadow: 0.1875rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  overflow-x: hidden;
  overflow-y: scroll;
} /* 모달윈도우 - 내용 창 */


.modal_box { width: 100%; height: auto; } 
/* 전체 내용(.titlepart, .contentpart)을 감싸는 박스 */

  

/** titlepart ---------------------- */
.modal_box li { display: block; float: left; } /* .titlepart 정렬 */

.titlepart li:nth-child(2) { margin-top: 3.125rem; margin-left: 1.875rem; margin-bottom: 3.125rem; } /* h3 포지셔닝 */
.titlepart li h3 { 
  font-size: 36px; font-weight: 700; 
  color: rgba(131, 76, 51, 1) ; } /* h3 디자인 */

.titlepart li:last-child { 
  display: block; float: right; 
  margin-top: 1.875rem; margin-right: 1.25rem;
} /* .modal_closebtn 포지셔닝 */

.modal_circle { 
  display: block;
  width: 0.9375rem; height: 0.9375rem;
  margin-top: 4.1875rem; margin-left: 2.25rem; margin-bottom: 2.75rem;

  background-image: url("../../img/event/modal_window/Ellipse.png");
  background-image: url("../../img/event/modal_window/Ellipse.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* h3 좌측 circle */

.modal_closebtn {
  display: block;
  width: 2.5rem; height: 2.5rem;
  background-image: url("../../img/event/modal_window/close.png");
  background-image: url("../../img/event/modal_window/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
} /* h3 우측 닫기버튼 */

    


/** contentpart ---------------------- */
.contentpart { 
  width: 90%; margin: auto;
  border-top: 0.0625rem solid rgba(170, 170, 170, 1); 
} /* 전체영역 : 디자인 및 포함된 내용 중앙 정렬 */

  .contentpart li { width: 50%; display: block; float: left; }
  /* .middle_img_area 정렬 */

  .middle_img_area { display: block; width: 90%; margin: auto; }
  
  .contentpart div {
    width: 80%; height: 500px; background-color: #ccc;
    margin: auto; margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 0.625rem;
  } /* 이미지 영역 디자인 */

  .contentpart p {
    margin: auto;
    width: 90%; height: auto;
    font-size: 1.375rem; color: rgba(117, 117, 117, 1);
    line-height: 2.5rem;
    margin-top: 3rem; margin-bottom: 2.8125rem;
  } /* 설명 영역 디자인 */
