/* c_joinBox.css */



#wrap {
  background-image: url("../../img/login_page/login_bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-top:  1px solid #fff;  
  border-bottom: 1px solid #333; ; /* joinBox의 margin에 의해 끌려 내려오는 현상을 방지하기 위해 테두리 설정 */
}

#joinBox {
  width: 68.75rem; height: 1000px; 
  background-color: #fff;
  margin: 15.625rem auto 18.75rem;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.25);
  border-radius: 5px;

  /* 부모 요소에 radius를 적용했는데, 자식 요소가 새로 생겨 radius가 사라진 경우 다시 radius를 되살리고 싶으면 overflow:hidden을 쓴다. */
  overflow: hidden;
}



/*? intro_part ------------------------------------ */
.intro_part {
  position: relative; z-index: 20;
  float: left; height: 100%;
  width: 28.75rem; 
  /* background-color: #dfd; */
  padding-top: 10rem;
  padding-left: 1.25rem; padding-right: 3.75rem;
  box-sizing: border-box;
  text-align: right;
}

.intro_part::before {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; 
  content: "";
  display: block;
  width: 28.75rem; height: 100%;

  background-image: url("../../img/main_page_re/main_page_re/mobile/b_navBox/smartophone_nav_origin.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  opacity: 0.6;

  z-index: -1;
}

  .intro_inner {
    float: right;
    width: 15.625rem; height: auto;
    color: #fff;
    /* background-color: #daf; */
  }

    .intro_inner > h2 { 
      width: 100%; height: auto; 
      margin-top: 50px; margin-bottom: 15px;
      font-size: 2.5rem; font-weight: 700;
      text-transform: capitalize;
      color: #171717;
    }

    .intro_inner > p {
      width: 100%; height: auto;
      font-size: 1.125rem; font-weight: 500;
      color: #171717;
    }


  /* .video_inner {
    position:absolute; top: 0; left: 130%; z-index: -1;
    background-color: #fff;
    width: 100%; height: 100%; 
  }

    .video_inner video {
      float: right;
      width: auto; 
      min-width: 100%; height: 100%;
    } */


  .company_logo {
    display: inline-block;
    width: 7.5rem; height: 4.375rem;
    /* background-color: #fff; */
    background-image: url("../../img/common_page/01_headBox/osam_logo.png");
    background-image: url("../../img/common_page/01_headBox/osam_logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }




 /*? join_form ----------------------------- */
  
.join_form {
  float: left; height: 100%;  
  padding-top: 190px; box-sizing: border-box; 
  width: 40rem; 
  /* background-color: #fdd; */
}

form, fieldset {
  margin: 0; padding: 0; border: 0;
}

legend { 
  display: block; 
  width: 0; height: 0; position: absolute; 
  z-index: -1; overflow: hidden ;}

  .join_form > form {
    width: 28.75rem; height: 18.75rem;
    background-color: #fff;
    margin: auto;
  }

  .join_form fieldset:nth-of-type(1) {
    width: 100%; height: 33.125rem;
    margin-bottom: 9.375rem;
    /* background-color: #aca; */
  }

  .join_form fieldset:nth-of-type(2) {
    width: 500px; height: 7.5rem;
    text-align: center;
    /* background-color: #a7a; */
  }

  .user_input {
    width: 100%; height: 3.125rem; margin-bottom: 1.875rem;
    border-bottom: 0.125rem solid #1A5D54;
    padding-bottom: 0.625rem; padding-left: 0.5rem;
    box-sizing: border-box;
  }
  
  /* .user_input:first-child { margin-bottom: 60px; } */
  .nameinputBox { margin-bottom: 60px; padding-top: 0.7em; padding-left: 0.7rem; }
   /* .user_input:nth-child(4) { margin-bottom: 70px; } */
  .pwcheckBox { margin-bottom: 70px; }
  .user_input:last-child { margin-bottom: 0px; }

    .user_input label { float:left; margin-right: 30px; }
    .user_input input { 
      float:left; 
      width: 21.25rem; height: 100%; 
      border: 0; padding: 0; 
      font-size: 1rem; color: #757575;
      text-indent: 8px;
    }


  /* telBox ---------------------------------- */  
  .telBox p { 
    display: block; width: 10px; height: 8px; 
    border-bottom: 3px solid #333; }
  .telBox input { width: 3rem; }
  .telBox li { display: block; float: left; padding-top: 0.625rem; 
    box-sizing: border-box; margin-left: 20px;} 
    .telBox li:nth-child(2) { margin-left: 10px; }
    .telBox li:first-child { margin: 0; }

  
  /* birthdayBox ---------------------------- */
  .birthdayBox li { display: block; float: left; padding-top: 0.625rem; 
    box-sizing: border-box; margin-left: 20px;} 
    .birthdayBox input { width: 5rem; }
    .birthdayBox li:first-child { margin: 0; } 
  



/*? 아이콘 -------------------------------------------- */
.icon {
  display: block;
  width: 2.5rem; height: 2.5rem; 
  /* background-color: #f55; */
  background-repeat: no-repeat;
  background-size: contain; background-position: 50% 50%;
}

  .nameinputBox .icon {
    width: 1.5rem; height: 1.5rem;
 
  }


label[for="join_name"] i { 
  background-image: url("../../img/join/icon/name.png"); 
  background-image: url("../../img/join/icon/name.svg"); 
}

label[for="join_mail"] i { 
  background-image: url("../../img/login_page/mail.png"); 
  background-image: url("../../img/login_page/mail.svg"); 
}

label[for="join_password"] i { 
  background-image: url("../../img/login_page/key.png"); 
  background-image: url("../../img/login_page/key.svg");
}

label[for="join_password_check"] i { 
  background-image: url("../../img/login_page/key.png"); 
  background-image: url("../../img/login_page/key.svg");
}

label[for="join_tel_start3"] i { 
  background-image: url("../../img/join/icon/mobile.png"); 
  background-image: url("../../img/join/icon/moblie.svg"); 
}

label[for="join_birthday_year"] i { 
  background-image: url("../../img/join/icon/year.png"); 
  background-image: url("../../img/join/icon/year.svg"); 
}



/*? 버튼 ------------------------------ */
.buttons li {
  display: block; float: left; margin-left: 10px;
}

input[type="reset"] {
  width: 150px; height: 60px;
  background-color: #fff;
  border: 1px solid #333; 
  border-radius: 8px;
  padding: 20px 25px; box-sizing: border-box;

  font-size: 16px; font-weight: 700;
  cursor: pointer;    
}
    
input[type="submit"] {
  width: 300px; height: 60px;
  background-color: #1a5d54;
  border: 0;
  color: #fff; 
  border-radius: 8px;
  margin-bottom: 34px;

  font-size: 22px; font-weight: 700;
  cursor: pointer;    
}


input[type="submit"]:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

input[type="submit"]:focus { 
  border: 3px solid #1A5D54; box-sizing: border-box; 
  color: #1A5D54;
  outline-offset: 10px;
  background-color: #fff;}

  
input[type="reset"]:hover {
  font-weight: 700; color: #1a5d54;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
input[type="reset"]:focus {
  background-color: #1A5D54; color: #fff; 
}


