/* newBox.css */


@media screen and (min-width: 1440px) {
  /*? 기준 디바이스 크기 : 1440px */
 
  /*? newBox ----------------------- */
  #newBox {
    height: 43.75rem;
    padding-top: 4.0625rem; padding-bottom: 4.375rem;
  }
  
  .newBox_area ul { width: 300%; height: 370px; margin-left: 0%; }
  /* 사진을 담을 수 있도록 사진 담는 영역의 너비를 넓게 설정 */
  .newBox_area li:nth-child(3n+1) { margin-left: 0; }
  /* 맨 앞의 이미지들은 ml을 0으로 (첫번째는 common.css에 의해 이미 ml 0) */
  
  .area_title { width: 58.75rem; }

} /* @media screen and (min-width: 1440px) */