@charset "UTF-8";
/* a_11_margin.css */

#wrap {
  width: 900px; height: 3000px;
  background-color: blanchedalmond;
  margin: auto;
}

.part {
  width: 95%; height: auto;
  margin: auto;
  background-color: lightcyan;
  border: 1px solid white;
}

.part > div {
  width: 200px; height: 200px;
}

/* 
margin 값 설정시,
첫 번째 요소와 마지막 요소의 경우, 윗공간/아랫공간이 설정된 값만큼 비어있게 되지 않는다. 그만큼 부모 요소를 끌고 내려오거나 밀어내린다. 

+ 단, 이 문제는 부모 요소에 테두리를 설정하면 해결된다.
*/

.margin_01 { 
  margin: 50px;
  background-color: lightgoldenrodyellow;
}

/*
margin 설정시, 마주보는 요소들 간에 있어서,
한 요소의 마진 값이 다른 요소의 마진 값보다 크면
작은 쪽은 없어지고 큰 쪽만 반영된다.
*/

.margin_02 { 
  margin: 10px;
  background-color: lightskyblue;
}


.margin_03 { 
  margin: 50px;
  background-color: lightsteelblue;
}


/* -------------------------------------------- */

.part_02 {height: 2000px; border: none;}
.part_02 > div {
  
  /* 
  float을 설정하면 첫번째, 마지막 요소의 마진흡수 문제나 마주보는 요소 사이의 마진상쇄 문제가 해결된다. 
  */

  float: left;
  background-image: linear-gradient(30deg, aqua, rgb(191, 252, 231));
}

.more_margin_01 { margin: 10px; }
.more_margin_02 { margin: 30px; }
.more_margin_03 { margin: 40px 20px; }
.more_margin_04 { margin: 10px 20px 30px; }
.more_margin_05 { margin: 5px 20px 10px 40px; }
.more_margin_06 { margin: 10px; margin-left: 40px; }
.more_margin_07 { margin-top: 40px; margin-left: 20px; margin-right: 10px; margin-bottom: 300px; }


/* 
동일한 범위의 마진을 2번 쓴 경우,
나중에 쓴 값이 우선한다. 
(이 예에서는 top margin은 1px이 된다.)
*/

.more_margin_08 { margin-top: 10px; margin-top: 1px; }