/* subBox.css */


/*? subBox ----------------------- */
#subBox {
  position: relative;
  width: auto; 
  /* padding-top: 57px;  */
  background-color: #FFBD55;
  box-sizing: border-box;
}

#subBox > .area {
  position: absolute; bottom: 0; left: 0; right: 0;
  height: 20.3125rem;
  margin: auto;
  /* background-color: #ddd; */
}

#subBox li.subBox_image {
  float: left;
  width: 28.75rem; height: 18.75rem;
  background-image: url("../../../img/main_page/04_subBox/sub_banner_image.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  filter: drop-shadow(1.875rem 1.5625rem 0 #efefef);
}


#subBox li.subBox_text_btn {
  float: right;
  width: 25rem; height: 12.5rem;
}

.subBox_text_btn h2 { 
  font-size: 2.5rem; color: #333333; 
  text-transform: capitalize; margin-bottom: 20px;
}
.subBox_text_btn p { 
  width: 18.75rem; height: 4.9375rem;
  font-size: 1.125rem; color: #505050; 
  margin-bottom: 2.5rem;
}


.subBox_text_btn button:first-child {
  width: 10rem; height: 2.8125rem; background-color: #1A5D54;
  border-radius: 0.3125rem;
  font-size: 1.375rem; color: #fff;
  font-weight: 700;
}

.subBox_text_btn button:last-child {
  width: 6.875rem; height: 2.8125rem; background-color: #fff;
  border-radius: 0.3125rem;
  font-size: 1.375rem; color: #1A5D54;
  font-weight: 700;
}