/* footBox.css */


@media screen and (max-width: 599px) {
  /*? 기준 디바이스 크기 : 320px */


  /*? footBox ----------------------- */
  #footBox { height: 26.5625rem; position: relative; }
  #footBox li.infoBox { display: none; }


  .info_logo { margin: auto; margin-bottom: 2.8125rem;}
  #footBox li.linkBox { width: 10rem; margin: auto; float: none; }

  
  
} /* @media screen and (max-width: 599px) */